
html, body, form, {
    margin: 0;
}


h1 {
    text-align: center;
}

#linkbutton {
    background-color: blue;
    padding: 4px;
    margin: 4px;
}

.anice {
    text-decoration: none;
    margin: 4px;

}

#play-area {
    height: 400px;
    width: 80%;
    background-color: rgb(100,100,100);
    border: ridge 4px black;
}

#timer {
    position: center;
}

#easy {
    
}

#medium {

}

#hard {

}
